.footer-menu {
  position: relative;
  z-index: 1;
  display: none;
  transform: translateY(5px);

  @include max(575) {
    display: block;
  }
}

.footer-menu__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-menu__item {
  padding: 0 8px;
  list-style: none;
}

.footer-menu__link {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
