.person-card {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
}

.person-card__ava {
  overflow: hidden;
  flex: none;
  width: 170px;
  height: 170px;
  border: 1px solid #ededed;
  border-radius: 50%;

  @include max(980) {
    width: 70px;
    height: 70px;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

.person-card__info {
  flex: 1;
  padding-right: 24px;
  padding-left: 24px;

  @include max(980) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.person-card__name {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 5px;
  padding-top: 5px;
  color: #000;

  @include max(980) {
    font-size: 16px;
  }
}

.person-card__position {
  font-size: 24px;
  font-weight: 300;
  display: block;
  color: #000;

  @include max(980) {
    font-size: 14px;
  }
}

//begin #STARS
//.person-card__rating{
//  display: flex;
//  svg {
//    margin-right: 20px;
//  width: 70px;
//  height: 70px;
//
//
//  }
//}
.rating-star-wrap{
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  overflow: hidden;
  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    fill:#4a4a4a;
  }
}
.rating-star-filter{
  width: 70px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(50%);
  // переделать звезды со спрайта на background
}

//end #STARS


.person-card__button {
  .button {
    padding-right: 17px;
    padding-left: 17px;
    min-width: 168px;

    @include max(980) {
      width: 32px;
      min-width: 0;
      height: 32px;
      padding: 0;
      border-radius: 50% !important;
    }
    span {
      font-size: 20px;

      @include max(980) {
        display: none;
      }
    }
    svg {
      flex: none;
      fill: #fff;
      width: 16px;
      height: 11px;
      margin-left: 18px;

      @include max(980) {
        margin: 0;
      }
    }
  }
}
