.footer {
  position: relative;
  z-index: 1;
  .container-inn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @include max(767) {
      flex-direction: column;
    }
  }
}

//begin #FOOTER MENU
.footer-menu {
  transform: translateY(-1px);

  @include max(767) {
    margin-bottom: 16px;
  }
}

.footer-menu__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-menu__item {
  padding: 0 8px;
  list-style: none;
}

.footer-menu__link {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

//end #FOOTER MENU

.footer__link {
  font-size: 12px;
  color: #000;

  @include max(767) {
    margin-right: 0;
  }
}

.footer__right {
  display: flex;
  align-items: center;
  padding-left: 16px;

  @include max(767) {
    flex-direction: column;
    flex: none;
    max-width: 100%;
    padding-left: 0;
  }
}

//begin #SOCIAL
.social__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  @include max(767) {
    margin: 16px 0;
  }
}

.social__item {
  margin-right: 16px;
  list-style: none;
  &:last-child {
    @include max(575) {
      margin-right: 0;
    }
  }
}

.social__link {
  display: block;
  &:hover {
    svg {
      fill: $link-hov;
    }
  }
  svg {
    flex: none;
    fill: #4a4a4a;
    width: 16px;
    height: 16px;
    transition: fill .5s;
  }
}

.social__link--youtube {
  svg {
    width: 23px;
  }
}

.social__link--twitter {
  svg {
    width: 20px;
  }
}

//end #SOCIAL

.footer__copyright {
  font-size: 12px;
  color: #000;
}
