.page-header {
  margin-bottom: 16px;
  padding-top: 90px;

  @include max(980) {
    margin-bottom: 0;
    padding-top: 22px;
  }
  .container-inn {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.page-header--sm {
  .container-inn {
    max-width: 966px;

    @include max(980) {
      max-width: 100%;
    }
  }
  .page-header__title {
    margin: 0;
  }
}

.page-header--center {
  .container-inn {
    justify-content: center;

    @include max(575) {
      justify-content: flex-start;
    }
  }
  .page-header__title {
    @include max(575) {
      margin-right: 0;
    }
  }
}

.page-header__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  flex: none;
  height: 24px;
  margin: auto;
  padding: 0 25px;

  @include max(980) {
    height: 16px;
    padding: 0 16px 0 0;
  }
  &:hover {
    svg {
      fill: $link-hov;
    }
  }
  svg {
    fill: #4a4a4a;
    width: 24px;
    height: 24px;
    transition: fill .5s;

    @include max(980) {
      width: 16px;
      height: 16px;
    }
  }
}

.page-header__title {
  font-family: $font;
  font-size: 32px;
  font-weight: 400;
  margin: 0 95px;
  color: #000;

  @include max(980) {
    margin: 0 32px;
  }
}


//begin #PAGE HEADER BTN
.page-header-menu{
  position: relative;
  margin-left: auto;
  transform: translateX(8px);
  &:hover {
    .page-header-menu__list{
      opacity: 1;pointer-events: auto;
    }
  }

}
.page-header-menu__button{
  padding: 14px 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #fff;
  cursor: pointer;
  svg {
    width: 6px;
    height: 14px;
    fill:#9d9d9d;
  }
}
.page-header-menu__list{
  position: absolute;
  min-width: 194px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  top: 100%;
  right: 0;
  margin: 0;
  opacity: 0;pointer-events: none;
  transition: opacity .5s;
  padding: 8px 0;
}
.page-header-menu__item {
  list-style: none;
  padding: 8px 30px;
}
.page-header-menu__link{
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
//end #PAGE HEADER BTN
