.page-header {
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
  padding-top: 90px;

  @include max(980) {
    margin-bottom: 0;
    padding-top: 22px;
  }
  .container-inn {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.page-header--arr {
  .page-header__title {
    margin-right: 0;
  }
}

.page-header--sm {
  .container-inn {
    max-width: 966px;

    @include max(980) {
      max-width: 100%;
    }
  }
  .page-header__title {
    margin: 0;
  }
}

.page-header--tab {
  .container-inn {
    @include max(575) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .page-header__title {
    @include max(575) {
      margin-bottom: 16px;
    }
  }
}

.page-header--center {
  .container-inn {
    justify-content: center;

    @include max(575) {
      justify-content: flex-start;
    }
  }
  .page-header__title {
    margin-right: 0 !important;
    margin-left: 0 !important;

    @include max(575) {
      margin-left: 32px !important;
    }
  }
}

.page-header__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  flex: none;
  height: 24px;
  margin: auto;
  padding: 0 25px;

  @include max(980) {
    height: 16px;
    padding: 0 16px 0 0;
  }
  &:hover {
    svg {
      fill: $link-hov;
    }
  }
  svg {
    fill: #4a4a4a;
    width: 24px;
    height: 24px;
    transition: fill .5s;

    @include max(980) {
      width: 16px;
      height: 16px;
    }
  }
}

.page-header__title {
  font-family: $font;
  font-size: 32px;
  font-weight: 400;
  margin: 0 95px;
  color: #000;

  @include max(980) {
    margin: 0 32px;
  }
}

.page-header__title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 7px;
  border-radius: 50%;
  svg {
    fill: #fff;
  }
}

.page-header__title-icon--close {
  background-color: #d84b1f;
  svg {
    width: 12px;
    height: 12px;
  }
}

.page-header__title-icon--return {
  background-color: #d84b1f;
  svg {
    width: 14px;
    height: 12px;
    transform: translateX(-1px);
  }
}

.page-header__title-icon--waiting {
  background-color: #4a4a4a;
  svg {
    width: 8px;
    height: 12px;
  }
}

.page-header__title-icon--accepted {
  background-color: #ffbd06;
  svg {
    width: 14px;
    height: 10px;
  }
}

.page-header__title-icon--completed {
  background-color: #7ebf34;
  svg {
    width: 14px;
    height: 10px;
  }
}

//begin #PAGE HEADER MENU
.page-header-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 42px;
  margin: auto;
  transform: translateX(460px);

  @include max(980) {
    right: 16px;
    left: auto;
    transform: translateX(0);
  }
  &.active {
    //&:hover {
    .page-header-menu__list {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.page-header-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 8px;
  cursor: pointer;
  border: none;
  outline: none !important;
  background-color: #fff;
  svg {
    fill: #9d9d9d;
    width: 6px;
    height: 14px;
  }
}

.page-header-menu__list {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 194px;
  margin: 0;
  padding: 8px 0;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .12);
}

.page-header-menu__item {
  padding: 8px 30px;
  list-style: none;
}

.page-header-menu__link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

//end #PAGE HEADER MENU

//begin #PAGE HEADER TIME
.page-header__time {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 120px;
  margin: auto;
  transform: translateX(409px);
  text-align: right;

  @include max(980) {
    right: 16px;
    left: auto;
    transform: translateX(0);
  }
  span {
    font-size: 12px;
    font-weight: 400;
    display: block;
    color: #000;
  }
}

//end #PAGE HEADER TIME

//begin #TABS
.page-header-tabs {
  margin-left: auto;

  @include max(575) {
    width: 100%;
    margin-left: 0;
  }
}

.page-header-tabs__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-header-tabs__item {
  padding-left: 16px;
  list-style: none;

  @include max(575) {
    padding-right: 16px;
    padding-left: 0;
  }
}

.page-header-tabs__link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #4a4a4a;
  &.active {
    pointer-events: none;
    color: $link;
  }
}

//end #TABS
