.index-top {
  min-height: 600px;

  @include max(980) {
    min-height: 500px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &::before {
    top: -100px;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 1260px;
    max-width: 50%;
    height: 1260px;
    background-image: url('../img/bg-index-top.svg');
    background-position: 0 0;

    @include max(980) {
      background-image: none;
    }
  }
  .index-left,
  .index-right,
  .index-left-form  {
    @include max(980) {
    max-width: 100%;
    }
  }
}
