.page-header__time {
  display: flex;

  span {
    padding-left: 5px;
    user-select: none;
    white-space: nowrap;
  }
}

.request__click-rating {
  .person-card-rating__filter {
    background-color: #fffaec;
  }
}

.click-rating__title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 8px;
  color: #000;

  @include min(767) {
    margin-bottom: 16px;
  }
}

.click-rating__textarea {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  max-width: 552px;
  height: 96px;
  margin-bottom: 16px;
  padding: 12px 20px;
  resize: none;
  border: 1px solid #d4d4d4;
  border-radius: 24px !important;
  background-color: #fff;

  @include placeholder-color(#ccc);
}

.person-card__info-row {
  position: relative;
  padding-bottom: 30px;

  @include max(576) {
    padding-bottom: 0;
  }
}

.person-card-experience__value {
  span {
    display: none;

    @include min(575) {
      display: inline;
    }
  }
}

.person-card-time {
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  white-space: nowrap;

  @include max(980) {
    font-size: 13px;
  }
  @include max(576) {
    position: static;
    padding-left: 15px;
  }
}

.requests-day__separator {
  @include max(576) {
    justify-content: flex-start;
    width: calc(100% + 32px);
    margin-left: -16px;
    padding-left: 16px;
  }
}

.person-card__button {
  @include max(576) {
    position: absolute;
    top: 28px;
    right: 0;
  }
}

.person-card {
  @include max(576) {
    position: relative;
  }
}
