.pricing-2022__item {
  border-radius: 0;
  background-image: url('../../img/price-orange.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  .pricing__month {
    font-size: 22px;

    @include min(768) {
      font-size: 19px;
    }
    @include min(992) {
      font-size: 22px;
    }
  }

  .pricing__price {
    font-size: 30px;

    @include min(768) {
      font-size: 27px;
    }
    @include min(992) {
      font-size: 30px;
    }
  }

  .pricing__month,
  .pricing__price,
  .pricing__subprice {
    width: 100%;
    max-width: 110px;
    text-align: left;

    @include min(768) {
      max-width: 95px;
    }
    @include min(992) {
      max-width: 110px;
    }
  }
}

.pricing-2022__item--free {
  background-image: url('../../img/price-green.png');
}

.pricing-2022__free {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.pricing__subprice {
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  opacity: .7;
  color: #fff;
}
