//begin footer
footer.footer
  .container.container-inn
    //begin footer-menu
    .footer-menu
      ul.footer-menu__list
        li.footer-menu__item
          a(href="#").footer-menu__link About
        li.footer-menu__item
          a(href="#").footer-menu__link How it Works
        li.footer-menu__item
          a(href="#").footer-menu__link Contact
    //end footer-menu

    a(href="#").footer__link Privacy Policy & Terms of Use

    //.footer__right
    //begin social__list
    ul.footer__social.social__list
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--fb
          +svg('fb')
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--linkedin
          +svg('linkedin')
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--youtube
          +svg('youtube')
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--twitter
          +svg('twitter')
    //end social__list

    span.footer__copyright &copy; 2020 Tempeak LLC
//end footer