//begin footer
footer.footer
  .container.container-inn
    //begin footer-menu
    .footer-apps
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer-apps__link
        img(src="assets/img/app-store.svg" alt="appstore")
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer-apps__link
        img(src="assets/img/google-play.svg" alt="googleplay")
    //end footer-menu

    a(href="#").footer__link Privacy Policy & Terms of Use

    //.footer__right
    //begin social__list
    ul.footer__social.social__list
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--fb
          +svg('fb')
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--linkedin
          +svg('linkedin')
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--youtube
          +svg('youtube')
      li.social__item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").social__link.social__link--twitter
          +svg('twitter')
    //end social__list

    span.footer__copyright &copy; 2020 Tempeak LLC
//end footer