.index-about
  .container.container-inn
    h2.index-left__title Dental staffing agency
    .index-about__text
      p Do you need to help your practice run smoothly, eliminating unwanted downtime? Find your quality dental staffing with Tempeak. Unlike traditional staffing, we regularly fill dentistry jobs for dental practices - whether permanent, temporary, or emergency.
    .index-about__youtube
      iframe(src="https://www.youtube.com/embed/7OMxBlK46wY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    h3.index-about__subtitle At Your Service 24 Hours a Day, 7 Days a Week
    .index-about__text
      p At Tempeak, we understand you and your long-term needs. Our attention to detail and superior customer assistance can assist you in building your team and take the stress out of finding the best local (and nationwide) talent for your dental office in a matter of seconds.
      p Our proven recruitment and training methodologies enable us to offer cost-effective permanent and temporary staffing in the US that meets your clinic and office needs.
      p Nothing should stop you from unlocking you and your dental offices maximum potential. Tempeak is known for the highest standards of timeliness, professionalism, and respect. We unite quality dental professionals with successful dental practices. We are proud to serve dental offices nationwide! We are looking forward to working with you!
    h3.index-about__subtitle What makes us different from the others?
    .index-about__double
      .index-about__double-pic
        img(src="assets/img/index-about.jpg" alt="tempeak")
      .index-about__double-list
        ul
          li
            p We provide qualified and professional personnel - dentists, hygienists, dental assistants, and lab technicians.
          li
            p Actively recruit thousand’s of talented dental professionals that are unable to see your job posts.
          li
            p We screen candidates and handle the time-consuming work, so that you can focus on hiring those who suit your needs best.
    h3.index-about__subtitle Ready to see what Tempeak can do for you?
    .index-about__text
      p At Tempeak, we strive to meet the demand for dental staffing and position fulfillment! We offer a variety of simple staffing solutions that work best for your practice.
      p Consider us as your partner - our best interest lies in connecting you with the employee(s) you are looking for.
      p We are looking forward to working with you. Join the Tempeak family today with a 1-month Free Trial

