.index-download
  .container.container-inn
    .index-download__img
      img(src="assets/img/index-download.png" alt="tempeak")
    .index-download__right
      h2.index-download__title Download
      .index-download__subtitle the <span>Tempeak</span> app
      .index-download__text
        p Tut by she iakyis text At Tempeak, we strive to meet the demand for dental staffing and position fulfillment! We offer a variety of simple staffing solutions that work best.
      .index-download__links
        a(href="#" target="_blank" rel="nofollow noopener noreferrer")
          img(src="assets/img/app-store.svg" alt="appstore")
        a(href="#" target="_blank" rel="nofollow noopener noreferrer")
          img(src="assets/img/google-play.svg" alt="googleplay")
