//begin page-header
header.page-header.page-header--arr.page-header--search-result
  .container.container-inn
    a(href="#").page-header__back
      +svg('page-header-arrow')
    h2.page-header__title #{pageHeaderTitle}
    include ../elements/search-result
//end page-header