//begin page-header
header.page-header.page-header--arr.page-header--center
  .container.container-inn
    a(href="#").page-header__back
      +svg('page-header-arrow')
    h2.page-header__title #{pageHeaderTitle}
//end page-header