//begin page-header
header.page-header.page-header--sm.page-header--tab
  .container.container-inn
    h2.page-header__title #{pageHeaderTitle}

    //begin page-header__tabs
    .page-header__tabs.page-header-tabs
      ul.page-header-tabs__list
        li.page-header-tabs__item
          a(href="#").page-header-tabs__link.active All
        li.page-header-tabs__item
          a(href="#").page-header-tabs__link Accepted
        li.page-header-tabs__item
          a(href="#").page-header-tabs__link Completed
    //end page-header__tabs
//end page-header