//begin page-header
header.page-header.page-header--arr
  .container.container-inn
    a(href="#").page-header__back
      +svg('page-header-arrow')
    h2.page-header__title #{pageHeaderTitle}
    .page-header__title-icon.page-header__title-icon--waiting
      +svg('sand-glass')
    //begin page-header__time
    .page-header__time
      span 14 March 2020
      span 12:00
    //end page-header__time
//end page-header