//begin page-header
header.page-header.page-header--arr
  .container.container-inn
    a(href="#").page-header__back
      +svg('page-header-arrow')
    h2.page-header__title #{pageHeaderTitle}
    //begin page-header-menu
    .page-header__menu.page-header-menu
      button.page-header-menu__button
        +svg('dots')
      ul.page-header-menu__list
        li.page-header-menu__item
          a(href="#").page-header-menu__link Delete Profile
    //end page-header-menu
//end page-header