//begin popup
.popup__layer#popup__layer

.popup.popup-review#popup-review
  .popup__close
    +svg('close')
  .popup__header
    h2.popup__title Review
  .popup__body
    //- begin popup-review__item
    .popup-review__item
      .popup-review__row
        .popup-review__icon
          img(src="assets/img/clinic-logo-1.jpg" alt="icon")
        .popup-review__row-item
          .popup-review__info
            .popup-review__info-title Stanford Health Care
            .popup-review__info-subtitle John Wesley
          .popup-review__rait
            include ../elements/rating
      .popup-review__descr
        p Text review our proven recruitment and training methodologies enable us to offer cost-effective permanent and temporary staffing in the US that meets your clinic and office needs.Nothing should stop you from unlocking you and your dental offices maximum potential. Tempeak is known for the highest standards of timeliness, professionalism, and respect. We unite quality dental professionals with successful dental practices.
    //- end   popup-review__item

    //- begin popup-review__item
    .popup-review__item
      .popup-review__row
        .popup-review__icon
          img(src="assets/img/clinic-logo-1.jpg" alt="icon")
        .popup-review__row-item
          .popup-review__info
            .popup-review__info-title Stanford Health Care
            .popup-review__info-subtitle John Wesley
          .popup-review__rait
            include ../elements/rating
    //- end   popup-review__item

    //- begin popup-review__item
    .popup-review__item
      .popup-review__row
        .popup-review__icon
          img(src="assets/img/clinic-logo-1.jpg" alt="icon")
        .popup-review__row-item
          .popup-review__info
            .popup-review__info-title Cleveland Clinic
            .popup-review__info-subtitle John Wesley
          .popup-review__rait
            include ../elements/rating
      .popup-review__descr
        p Text review our proven recruitment and training methodologies enable us to offer cost-effective permanent and temporary staffing in the US that meets your clinic and office needs.Nothing should stop you from unlocking you and your dental offices maximum potential. Tempeak is known for the highest standards of timeliness, professionalism, and respect. We unite quality dental professionals with successful dental practices.
    //- end   popup-review__item

    //- begin popup-review__item
    .popup-review__item
      .popup-review__row
        .popup-review__icon
          img(src="assets/img/clinic-logo-1.jpg" alt="icon")
        .popup-review__row-item
          .popup-review__info
            .popup-review__info-title Cleveland Clinic
            .popup-review__info-subtitle John Wesley
          .popup-review__rait
            include ../elements/rating
    //- end   popup-review__item

    //- begin popup-review__item
    .popup-review__item
      .popup-review__row
        .popup-review__icon
          img(src="assets/img/clinic-logo-1.jpg" alt="icon")
        .popup-review__row-item
          .popup-review__info
            .popup-review__info-title Stanford Health Care
            .popup-review__info-subtitle John Wesley
          .popup-review__rait
            include ../elements/rating
    //- end   popup-review__item
//end popup