//begin log-in-form__body
.log-in-form__body.sign-up-form__body#sign-up-contractor-form
  //begin form-group
  .form-group.form-group--input
    .form-group__icon
      svg.svg-email
        use(xlink:href="assets/img/sprite.svg#email")
    input.form-control(type='email' placeholder='Email Address')
  //end form-group

  //begin form-group
  .form-group.form-group--input
    .form-group__icon
      svg.svg-lock
        use(xlink:href="assets/img/sprite.svg#lock")
    input.form-control(type='password' placeholder='Password')
  //end form-group

  //begin form-group
  .form-group.form-group--input
    .form-group__icon
      svg.svg-lock
        use(xlink:href="assets/img/sprite.svg#lock")
    input.form-control(type='password' placeholder='Confirm Password')
  //end form-group

  .log-in-form__row
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox')
      span I agree to the Terms of Use
  button.button.button--highlight.button--lg Sign up
  span.log-in-2022__text or
  button.button.button--red.button--lg.button--google Google
  button.button.button--blue.button--lg.button--facebook Facebook
//end log-in-form__body