//begin slider-range-list
ul.slider-range__list.slider-range-list
  //begin slider-range
  li.slider-range-ampm
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Monday
    .slider-range__input-wrap-ampm
      input.slider-range__input-ampm.slider-range__input-ampm--start(type='text', readonly='', data-start=300)
      //5:00 AM
      span
      input.slider-range__input-ampm.slider-range__input-ampm--finish(type='text', readonly='', data-finish=840)
      //2:00 PM
    .slider-range__scale-ampm
  //end slider-range

  //begin slider-range
  li.slider-range-ampm
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Tuesday
    .slider-range__input-wrap-ampm
      input.slider-range__input-ampm.slider-range__input-ampm--start(type='text', readonly='', data-start=600)
      span
      input.slider-range__input-ampm.slider-range__input-ampm--finish(type='text', readonly='', data-finish=840)
    .slider-range__scale-ampm
  //end slider-range

  //begin slider-range
  li.slider-range-ampm
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Wednesday
    .slider-range__input-wrap-ampm
      input.slider-range__input-ampm.slider-range__input-ampm--start(type='text', readonly='', data-start=600)
      span
      input.slider-range__input-ampm.slider-range__input-ampm--finish(type='text', readonly='', data-finish=840)
    .slider-range__scale-ampm
  //end slider-range

  //begin slider-range
  li.slider-range-ampm
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Thursday
    .slider-range__input-wrap-ampm
      input.slider-range__input-ampm.slider-range__input-ampm--start(type='text', readonly='', data-start=600)
      span
      input.slider-range__input-ampm.slider-range__input-ampm--finish(type='text', readonly='', data-finish=840)
    .slider-range__scale-ampm
  //end slider-range

  //begin slider-range
  li.slider-range-ampm
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Friday
    .slider-range__input-wrap-ampm
      input.slider-range__input-ampm.slider-range__input-ampm--start(type='text', readonly='', data-start=600)
      span
      input.slider-range__input-ampm.slider-range__input-ampm--finish(type='text', readonly='', data-finish=840)
    .slider-range__scale-ampm
  //end slider-range

  //begin slider-range
  li.slider-range-ampm
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Saturday
    .slider-range__input-wrap-ampm
      input.slider-range__input-ampm.slider-range__input-ampm--start(type='text', readonly='', data-start=600)
      span
      input.slider-range__input-ampm.slider-range__input-ampm--finish(type='text', readonly='', data-finish=840)
    .slider-range__scale-ampm
  //end slider-range

  //begin slider-range
  li.slider-range-ampm.disabled
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox')
      span Sunday
    .slider-range__input-wrap-ampm
      input.slider-range__input-ampm.slider-range__input-ampm--start(type='text', readonly='', data-start=600)
      span
      input.slider-range__input-ampm.slider-range__input-ampm--finish(type='text', readonly='', data-finish=840)
    .slider-range__scale-ampm
  //end slider-range
