//begin person-card
.person-card.person-card--request
  .person-card__ava.person-card__ava--business
  .person-card__info
    h3.person-card__name Stanford Health Care
    span.person-card__position John Wesley

  .person-card__button
    button.button.button--declined
      span Declined
      +svg('close')
//end person-card
