mixin person-card(ava)
  //begin person-card
  .person-card
    .person-card__ava
      img(src="assets/img/user-" + ava + ".jpg" alt="picture")
    .person-card__info
      h3.person-card__name John Wesley Langley
      span.person-card__position Thief River Falls
    .person-card__button
      button.button.button--grey
        span View More
        +svg('eye')
  //end person-card


+person-card('01')
+person-card('02')
+person-card('03')


