//begin person-card
.person-card.person-card--request
  .person-card__ava.person-card__ava--business
    img(src="assets/img/clinic-logo-1.jpg" alt="picture")
  .person-card__info
    h3.person-card__name Cleveland Clinic
    span.person-card__position John Wesley

  .person-card__button
    button.button.button--waiting
      span Waiting
      +svg('sand-glass')
//end person-card
