//begin person-card
.person-card.person-card--request
  .person-card__ava.person-card__ava--business
  .person-card__info
    h3.person-card__name Cleveland Clinic
    span.person-card__position John Wesley

  .person-card__button
    button.button.button--canceled
      span Canceled
      +svg('return')
//end person-card
