.profile-person__rating
  //begin person-card-rating
  .person-card__rating.person-card-rating(data-rating='3.5')
    .person-card-rating__stars.person-card-rating__stars--full
      svg.rating-star.rating-star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating-star.rating-star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating-star.rating-star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating-star.rating-star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")
      svg.rating-star.rating-star--full
        use(xlink:href="assets/img/sprite.svg#star-rating-full")

    .person-card-rating__filter
    .person-card-rating__value

    .person-card-rating__stars.person-card-rating__stars--transparent
      svg.rating-star.rating-star--transparent
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating-star.rating-star--transparent
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating-star.rating-star--transparent
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating-star.rating-star--transparent
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
      svg.rating-star.rating-star--transparent
        use(xlink:href="assets/img/sprite.svg#star-rating-transparent")
  //end person-card-rating