//- begin search-result
.search-result
  .search-result__header
    .search-result__icon-settings
      +svg('settings')
    h2.search-result__title Filter
    .search-result__icon-arrow
      +svg('arr-right')
  .search-result__list
    //begin form-group
    .form-group.form-group--input
      .form-group__icon
        svg.svg-lock
          use(xlink:href="assets/img/sprite.svg#clock")
      input.form-control(type='text' placeholder='Time')
    //end form-group
    //begin form-group
    .form-group.form-group--input
      .form-group__icon
        svg.svg-lock
          use(xlink:href="assets/img/sprite.svg#clock")
      input.form-control(type='text' placeholder='Time')
    //end form-group
    //begin form-group
    .form-group.form-group--input
      .form-group__icon
        svg.svg-lock
          use(xlink:href="assets/img/sprite.svg#clock")
      input.form-control(type='text' placeholder='Time')
    //end form-group
    //begin form-group
    .form-group.form-group--input
      .form-group__icon
        svg.svg-lock
          use(xlink:href="assets/img/sprite.svg#clock")
      input.form-control(type='text' placeholder='Time')
    //end form-group

    button.button.button--highlight.button--lg Filter

.search-result__open
  +svg('settings')
//- end   search-result