mixin form-group()
  //begin form-group
  .form-group.form-group--select
    select.form-control.selectpicker
      option(value='' selected) 00:00
      option(value='') 00:15
      option(value='') 00:30
      option(value='') 00:45
      option(value='') 01:00
      option(value='') 01:15
      option(value='') 01:30
      option(value='') 01:45
      option(value='') 02:00
      option(value='') 02:15
      option(value='') 02:30
      option(value='') 02:45
      option(value='') 03:00
      option(value='') 03:15
      option(value='') 03:30
      option(value='') 03:45
      option(value='') 04:00
      option(value='') 04:15
      option(value='') 04:30
      option(value='') 04:45
      option(value='') 05:00
      option(value='') 05:15
      option(value='') 05:30
      option(value='') 05:45
      option(value='') 06:00
      option(value='') 06:15
      option(value='') 06:30
      option(value='') 06:45
      option(value='') 07:00
      option(value='') 07:15
      option(value='') 07:30
      option(value='') 07:45
      option(value='') 08:00
      option(value='') 08:15
      option(value='') 08:30
      option(value='') 08:45
      option(value='') 09:00
      option(value='') 09:15
      option(value='') 09:30
      option(value='') 09:45
      option(value='') 10:00
      option(value='') 10:15
      option(value='') 10:30
      option(value='') 10:45
      option(value='') 11:00
      option(value='') 11:15
      option(value='') 11:30
      option(value='') 11:45
  //end form-group

//begin selectbox-list
ul.selectbox-list
  //begin selectbox-list__item
  li.selectbox-list__item
    //begin log-in-form__checkbox
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Monday
    //end log-in-form__checkbox

    //begin selectbox-list__radios
    .selectbox-list__radios
      //begin slider-range__input-am-pm--start
      .slider-range__input-am-pm.slider-range__input-am-pm--start
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='monday-start' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='monday-start')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--start

      //begin slider-range__input-am-pm--finish
      .slider-range__input-am-pm.slider-range__input-am-pm--finish
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='monday-finish' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='monday-finish')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--finish
    //end selectbox-list__radios

    //begin selectbox-list__selects
    .selectbox-list__selects
      +form-group()
      +form-group()
    //end selectbox-list__selects
  //end selectbox-list__item

  //begin selectbox-list__item
  li.selectbox-list__item
    //begin log-in-form__checkbox
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Tuesday
    //end log-in-form__checkbox

    //begin selectbox-list__radios
    .selectbox-list__radios
      //begin slider-range__input-am-pm--start
      .slider-range__input-am-pm.slider-range__input-am-pm--start
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-start' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-start')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--start

      //begin slider-range__input-am-pm--finish
      .slider-range__input-am-pm.slider-range__input-am-pm--finish
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-finish' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-finish')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--finish
    //end selectbox-list__radios

    //begin selectbox-list__selects
    .selectbox-list__selects
      +form-group()
      +form-group()
    //end selectbox-list__selects
  //end selectbox-list__item

  //begin selectbox-list__item
  li.selectbox-list__item
    //begin log-in-form__checkbox
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Wednesday
    //end log-in-form__checkbox

    //begin selectbox-list__radios
    .selectbox-list__radios
      //begin slider-range__input-am-pm--start
      .slider-range__input-am-pm.slider-range__input-am-pm--start
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='wednesday-start' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='wednesday-start')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--start

      //begin slider-range__input-am-pm--finish
      .slider-range__input-am-pm.slider-range__input-am-pm--finish
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='wednesday-finish' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='wednesday-finish')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--finish
    //end selectbox-list__radios

    //begin selectbox-list__selects
    .selectbox-list__selects
      +form-group()
      +form-group()
    //end selectbox-list__selects
  //end selectbox-list__item

  //begin selectbox-list__item
  li.selectbox-list__item
    //begin log-in-form__checkbox
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Tuesday
    //end log-in-form__checkbox

    //begin selectbox-list__radios
    .selectbox-list__radios
      //begin slider-range__input-am-pm--start
      .slider-range__input-am-pm.slider-range__input-am-pm--start
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-start' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-start')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--start

      //begin slider-range__input-am-pm--finish
      .slider-range__input-am-pm.slider-range__input-am-pm--finish
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-finish' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='tuesday-finish')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--finish
    //end selectbox-list__radios

    //begin selectbox-list__selects
    .selectbox-list__selects
      +form-group()
      +form-group()
    //end selectbox-list__selects
  //end selectbox-list__item

  //begin selectbox-list__item
  li.selectbox-list__item
    //begin log-in-form__checkbox
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Friday
    //end log-in-form__checkbox

    //begin selectbox-list__radios
    .selectbox-list__radios
      //begin slider-range__input-am-pm--start
      .slider-range__input-am-pm.slider-range__input-am-pm--start
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='friday-start' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='friday-start')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--start

      //begin slider-range__input-am-pm--finish
      .slider-range__input-am-pm.slider-range__input-am-pm--finish
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='friday-finish' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='friday-finish')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--finish
    //end selectbox-list__radios

    //begin selectbox-list__selects
    .selectbox-list__selects
      +form-group()
      +form-group()
    //end selectbox-list__selects
  //end selectbox-list__item

  //begin selectbox-list__item
  li.selectbox-list__item
    //begin log-in-form__checkbox
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox' checked)
      span Saturday
    //end log-in-form__checkbox

    //begin selectbox-list__radios
    .selectbox-list__radios
      //begin slider-range__input-am-pm--start
      .slider-range__input-am-pm.slider-range__input-am-pm--start
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='saturday-start' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='saturday-start')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--start

      //begin slider-range__input-am-pm--finish
      .slider-range__input-am-pm.slider-range__input-am-pm--finish
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='saturday-finish' checked)
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='saturday-finish')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--finish
    //end selectbox-list__radios

    //begin selectbox-list__selects
    .selectbox-list__selects
      +form-group()
      +form-group()
    //end selectbox-list__selects
  //end selectbox-list__item

  //begin selectbox-list__item
  li.selectbox-list__item.disabled
    //begin log-in-form__checkbox
    label.log-in-form__checkbox.log-in-form__checkbox--check
      input.form-check-input(type='checkbox')
      span Sunday
    //end log-in-form__checkbox

    //begin selectbox-list__radios
    .selectbox-list__radios
      //begin slider-range__input-am-pm--start
      .slider-range__input-am-pm.slider-range__input-am-pm--start
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='sunday-start')
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='sunday-start')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--start

      //begin slider-range__input-am-pm--finish
      .slider-range__input-am-pm.slider-range__input-am-pm--finish
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='sunday-finish')
          span <strong>AM</strong>
        label.log-in-form__checkbox.log-in-form__checkbox--radio
          input.form-check-input(type='radio' name='sunday-finish')
          span <strong>PM</strong>
      //end slider-range__input-am-pm--finish
    //end selectbox-list__radios

    //begin selectbox-list__selects
    .selectbox-list__selects
      +form-group()
      +form-group()
    //end selectbox-list__selects
  //end selectbox-list__item
//end selectbox-list
