.svg-hospital {
  width: 17px;
  height: 17px;
}

.svg-marker {
  width: 12px;
  height: 16px;
}

.svg-phone {
  width: 16px;
  height: 16px;
}

.svg-email {
  width: 16px;
  height: 13px;
}

.svg-star {
  width: 17px;
  height: 16px;
}

.svg-person {
  width: 16px;
  height: 16px;
}

.svg-lock {
  width: 13px;
  height: 16px;
}

.svg-persons {
  width: 26px;
  height: 16px;
}

.svg-cake {
  width: 14px;
  height: 16px;
}

.svg-building {
  width: 18px;
  height: 16px;
}

.svg-email-open {
  width: 17px;
  height: 16px;
}

.svg-earth {
  width: 16px;
  height: 16px;
}

.svg-shield {
  width: 13px;
  height: 17px;
}

.svg-hat {
  width: 20px;
  height: 16px;
}

.svg-calendar {
  width: 15px;
  height: 16px;
}

.svg-clock {
  width: 15px;
  height: 16px;
}

.svg-car {
  width: 18px;
  height: 16px;
}

.svg-list {
  width: 19px;
  height: 16px;
}

.svg-trash {
  width: 13px;
  height: 17px;
}
