// ***** main colors *******
$brand: #ffbd06;
$highlight: #ffbd06;
$highlight-hov: lighten($highlight, 10%);

// ***** text colors *******
$text: #000;

// ***** link colors *******
$link: #ffbd06;
$link-hov: lighten($link, 10%);

// ===== fonts =====
$font: 'Nunito', sans-serif;

// ===== radius =====
$block-radius: 25px;