extends ../_template

block variables
  - let title       = 'Profile | Tempeak'
  - let description = 'Profile | Tempeak'
  - let ogtitle     = 'Profile | Tempeak'
  - let ogimage     = 'assets/img/social.jpg'

  - let pageHeaderTitle = 'Profile'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-arr-menu-settings

    //begin content
    main.main.edit-b-profile
      .container.container-inn.container-inn--sm
        form.edit-b-profile__form
          //- begin edit-b-profile__row
          .edit-b-profile__row
            //- begin edit-b-profile__item--logo
            .edit-b-profile__item.edit-b-profile__item--logo
              .edit-b-profile__logo
                img(src="assets/img/person-logo.jpg" alt="logo")
              .edit-b-profile__logo-title Your Photo
            //- end   edit-b-profile__item--logo

            .edit-b-profile__item.edit-b-profile__item--center
              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-person
                    use(xlink:href="assets/img/sprite.svg#person")
                input.form-control(type='text' placeholder='First Name')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-person
                    use(xlink:href="assets/img/sprite.svg#person")
                input.form-control(type='text' placeholder='Last Name')
              //end form-group

              //begin form-group
              .form-group.form-group--select
                .form-group__icon
                  svg.svg-hospital
                    use(xlink:href="assets/img/sprite.svg#hospital")
                select.form-control.selectpicker
                  option(value='') Speciality
                  option(value='') Speciality 1
                  option(value='') Speciality 2
                  option(value='') Speciality 3
              //end form-group
          //- end   edit-b-profile__row


          //- begin edit-b-profile__row
          .edit-b-profile__row.edit-b-profile__row--reverse
            .edit-b-profile__item
              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-clock
                    use(xlink:href="assets/img/sprite.svg#clock")
                input.form-control(type='text' placeholder='Experience')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-car
                    use(xlink:href="assets/img/sprite.svg#car")
                input.form-control(type='text' placeholder='Miles Available to Commute')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-shield
                    use(xlink:href="assets/img/sprite.svg#shield")
                input.form-control(type='text' placeholder='License Number')
              //end form-group

              //begin form-group
              .form-group.form-group--input.form-group--input-file
                .form-group__icon
                  svg.svg-shield
                    use(xlink:href="assets/img/sprite.svg#shield")
                span.form-group__text Upload License
                input.form-control(type='file')
              //end form-group

              //begin form-group
              .form-group.form-group--input.form-group--input-file
                .form-group__icon
                  svg.svg-list
                    use(xlink:href="assets/img/sprite.svg#list")
                span.form-group__text Upload Resume
                input.form-control(type='file')
              //end form-group


            .edit-b-profile__item
              .edit-b-profile__form-row
                //begin form-group
                .form-group.form-group--select
                  .form-group__icon
                    svg.svg-marker
                      use(xlink:href="assets/img/sprite.svg#marker")
                  select.form-control.selectpicker
                    option(value='') State
                    option(value='') State 1
                    option(value='') State 2
                    option(value='') State 3
                //end form-group
                //begin form-group
                .form-group.form-group--select
                  .form-group__icon
                    svg.svg-marker
                      use(xlink:href="assets/img/sprite.svg#marker")
                  select.form-control.selectpicker
                    option(value='') City
                    option(value='') City 1
                    option(value='') City 2
                    option(value='') City 3
                //end form-group


              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-marker
                    use(xlink:href="assets/img/sprite.svg#marker")
                input.form-control(type='text' placeholder='Address')
              //end form-group

              .edit-b-profile__form-row
                //begin form-group
                .form-group.form-group--input
                  .form-group__icon
                    svg.svg-email-open
                      use(xlink:href="assets/img/sprite.svg#email-open")
                  input.form-control(type='text' placeholder='Zip Code')
                //end form-group

                //begin form-group
                .form-group.form-group--input
                  .form-group__icon
                    svg.svg-phone
                      use(xlink:href="assets/img/sprite.svg#phone")
                  input.form-control(type='text' placeholder='Phone')
                //end form-group


              .edit-b-profile__form-row
                //begin form-group
                .form-group.form-group--input
                  .form-group__icon
                    svg.svg-email
                      use(xlink:href="assets/img/sprite.svg#email")
                  input.form-control(type='email' placeholder='Email Address')
                //end form-group
                //begin form-group
                .form-group.form-group--input
                  .form-group__icon
                    svg.svg-cake
                      use(xlink:href="assets/img/sprite.svg#cake")
                  input.form-control(type='text' placeholder='Birthday')
                //end form-group



              .edit-b-profile__form-row
                //begin form-group
                .form-group.form-group--input
                  .form-group__icon
                    svg.svg-hat
                      use(xlink:href="assets/img/sprite.svg#hat")
                  input.form-control(type='text' placeholder='What School You Attend')
                //end form-group
                //begin form-group
                .form-group.form-group--input
                  .form-group__icon
                    svg.svg-calendar
                      use(xlink:href="assets/img/sprite.svg#calendar")
                  input.form-control(type='text' placeholder='Date of Graduation')
                //end form-group
          //- end   edit-b-profile__row

          //- begin edit-b-profile__row
          .edit-b-profile__row
            //- begin edit-b-profile__item--schedule
            .edit-b-profile__item.edit-b-profile__item--schedule
              .edit-b-profile__item-title Working days
              include ../elements/slider-range-list
            //- end edit-b-profile__item--schedule

            .edit-b-profile__item
              h3.sign-up-lg-form__title Salary (hourly) rate if request till appointment

              //begin sign-up-lg-form__salary
              .sign-up-lg-form__salary
                include ../elements/slider-range-single-list
              //end sign-up-lg-form__salary
          //- end edit-b-profile__row

          //- begin edit-b-profile__row
          .edit-b-profile__row.edit-b-profile__row--reverse
            .edit-b-profile__btns.edit-b-profile__btns--left
            .edit-b-profile__btns.edit-b-profile__btns--right
              button.button.button--highlight.button--lg Save
    //end content

    include ../sections/footer-lg
    include ../sections/scripts
