extends ../_template

block variables
  - let title       = 'Requests | Tempeak'
  - let description = 'Requests | Tempeak'
  - let ogtitle     = 'Requests | Tempeak'
  - let ogimage     = 'assets/img/social.jpg'

  - let pageHeaderTitle = 'Requests'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-sm-tab

    //begin content
    main.main.requests
      .container.container-inn.container-inn--sm
        .requests__day.requests-day
          .requests-day__separator
            span 15 May 2020
          include ../elements/2022-person-card-03
        .requests__day.requests-day
          .requests-day__separator
            span 14 May 2020
          include ../elements/2022-person-card-04
          include ../elements/2022-person-card-04
          include ../elements/2022-person-card-04
    //end content


    include ../sections/footer-lg
    include ../sections/popup
    include ../sections/scripts
