extends ../_template

block variables
  - var title       = 'Change Password | Tempeak'
  - var description = 'Change Password | Tempeak'
  - var ogtitle     = 'Change Password | Tempeak'
  - var ogimage     = 'assets/img/social.jpg'

  - var pageHeaderTitle = 'Change Password'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-arr-center

    //begin content
    main.main.log-in
      .container.container-inn.container-inn--sm
        form.log-in__form.log-in-form
          //begin log-in-form__body
          .log-in-form__body
            //begin form-group
            .form-group.form-group--input
              .form-group__icon
                svg.svg-lock
                  use(xlink:href="assets/img/sprite.svg#lock")
              input.form-control(type='password' placeholder='Old Password')
            //end form-group
            //begin form-group
            .form-group.form-group--input
              .form-group__icon
                svg.svg-lock
                  use(xlink:href="assets/img/sprite.svg#lock")
              input.form-control(type='password' placeholder='New Password')
            //end form-group
            //begin form-group
            .form-group.form-group--input
              .form-group__icon
                svg.svg-lock
                  use(xlink:href="assets/img/sprite.svg#lock")
              input.form-control(type='password' placeholder='Confirm New Password')
            //end form-group

            button.button.button--highlight.button--lg Save
          //end log-in-form__body
    //end content

    include ../elements/footer-menu
    include ../sections/footer
    include ../sections/scripts
