extends ../_template

block variables
  - var title       = 'Change Subscription | Tempeak'
  - var description = 'Change Subscription | Tempeak'
  - var ogtitle     = 'Change Subscription | Tempeak'
  - var ogimage     = 'assets/img/social.jpg'

  - var pageHeaderTitle = 'Change Subscription'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-arr

    //begin content
    main.main.sign-up-lg
      .container.container-inn.container-inn--sm
        //begin sign-up-lg-form
        .sign-up-lg__form.sign-up-lg-form
          .sign-up-lg-form__body
            //begin sign-up-lg-form__left
            .sign-up-lg-form__left
              //begin subscription-info
              .subscription-info
                //begin subscription-info__item
                .subscription-info__item
                  .subscription-info__label
                    span ID
                  .subscription-info__text
                    span sub_GlOfNod90OqcLV
                //end subscription-info__item
                //begin subscription-info__item
                .subscription-info__item
                  .subscription-info__label
                    span Customer
                  .subscription-info__text
                    span John Wesley Langley
                //end subscription-info__item
                //begin subscription-info__item
                .subscription-info__item
                  .subscription-info__label
                    span Current period
                  .subscription-info__text
                    span 18 May 2020 - 5 September 1998
                //end subscription-info__item
                //begin subscription-info__item
                .subscription-info__item
                  .subscription-info__label
                    span Created
                  .subscription-info__text
                    span 18 May 1998
                //end subscription-info__item
                //begin subscription-info__item
                .subscription-info__item
                  .subscription-info__label
                    span Status
                  .subscription-info__text
                    span.subscription-info__text-yellow Trialing
                    span.subscription-info__text-green Active
                    span.subscription-info__text-red Inactive
                //end subscription-info__item

              //end subscription-info
            //end sign-up-lg-form__left

            //begin sign-up-lg-form__right
            .sign-up-lg-form__right

              h3.sign-up-lg-form__title Card

              //begin subscription-card-del
              .subscription-card-del
                .subscription-card-del__number
                  span 3234 1232 4423 2352
                .subscription-card-del__button
                  button.button.button--lg Delete Card
              //end subscription-card-del

              h3.sign-up-lg-form__title Subscription

              //begin sign-up-lg-form__subscription
              .sign-up-lg-form__subscription
                label.log-in-form__checkbox.log-in-form__checkbox--radio
                  input.form-check-input(type='radio' name='subscription' checked)
                  span <i>3 months + 1 month trial</i> <strong>$</strong> 299,97

                label.log-in-form__checkbox.log-in-form__checkbox--radio
                  input.form-check-input(type='radio' name='subscription')
                  span <i>6 months + 1 month trial</i> <strong>$</strong> 539,94

                label.log-in-form__checkbox.log-in-form__checkbox--radio
                  input.form-check-input(type='radio' name='subscription')
                  span <i>12 months + 1 month trial</i> <strong>$</strong> 959,88

                //-.sign-up-lg-form__trial
                  span.sign-up-lg-form__trial-number +1
                  span.sign-up-lg-form__trial-text month trial
              //end sign-up-lg-form__subscription

              button.button.button--highlight.button--lg Save
            //end sign-up-lg-form__right
        //end sign-up-lg-form
    //end content

    include ../sections/footer-lg
    include ../sections/scripts
