extends ../_template

block variables
  - var title       = 'Edit Profile | Tempeak'
  - var description = 'Edit Profile | Tempeak'
  - var ogtitle     = 'Edit Profile | Tempeak'
  - var ogimage     = 'assets/img/social.jpg'

  - var pageHeaderTitle = 'Edit Profile'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-arr-menu-del

    //begin content
    main.main.sign-up-lg
      .container.container-inn.container-inn--sm
        //begin sign-up-lg-form
        form.sign-up-lg__form.sign-up-lg-form
          .sign-up-lg-form__body
            //begin sign-up-lg-form__left
            .sign-up-lg-form__left
              //begin sign-up-lg-form__logo
              .sign-up-lg-form__logo
                .sign-up-lg-form__logo-img
                  img(src="assets/img/clinic-logo.jpg" alt="logo")
                .sign-up-lg-form__logo-text
                  span Business Logo
              //end sign-up-lg-form__logo

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-building
                    use(xlink:href="assets/img/sprite.svg#building")
                input.form-control(type='text' placeholder='Business Name')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-person
                    use(xlink:href="assets/img/sprite.svg#person")
                input.form-control(type='text' placeholder='First Name')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-person
                    use(xlink:href="assets/img/sprite.svg#person")
                input.form-control(type='text' placeholder='Last Name')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-cake
                    use(xlink:href="assets/img/sprite.svg#cake")
                input.form-control(type='text' placeholder='Birthday')
              //end form-group

              //begin form-group
              .form-group.form-group--select
                .form-group__icon
                  svg.svg-marker
                    use(xlink:href="assets/img/sprite.svg#marker")
                select.form-control.selectpicker
                  option(value='') State
                  option(value='') State 1
                  option(value='') State 2
                  option(value='') State 3
              //end form-group

              //begin form-group
              .form-group.form-group--select
                .form-group__icon
                  svg.svg-marker
                    use(xlink:href="assets/img/sprite.svg#marker")
                select.form-control.selectpicker
                  option(value='') City
                  option(value='') City 1
                  option(value='') City 2
                  option(value='') City 3
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-marker
                    use(xlink:href="assets/img/sprite.svg#marker")
                input.form-control(type='text' placeholder='Address')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-email-open
                    use(xlink:href="assets/img/sprite.svg#email-open")
                input.form-control(type='text' placeholder='Zip Code')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-phone
                    use(xlink:href="assets/img/sprite.svg#phone")
                input.form-control(type='phone' placeholder='Phone')
              //end form-group

            //end sign-up-lg-form__left

            //begin sign-up-lg-form__right
            .sign-up-lg-form__right
              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-earth
                    use(xlink:href="assets/img/sprite.svg#earth")
                input.form-control(type='text' placeholder='Website')
              //end form-group

              //begin form-group
              .form-group.form-group--input
                .form-group__icon
                  svg.svg-shield
                    use(xlink:href="assets/img/sprite.svg#shield")
                input.form-control(type='text' placeholder='License number')
              //end form-group

              h3.sign-up-lg-form__title Office hours

              include ../elements/slider-range-list

              button.button.button--highlight.button--lg Save
            //end sign-up-lg-form__right
        //end sign-up-lg-form
    //end content

    include ../sections/footer
    include ../sections/scripts
