extends ../_template

block variables
  - var title       = 'Requests | Tempeak'
  - var description = 'Requests | Tempeak'
  - var ogtitle     = 'Requests | Tempeak'
  - var ogimage     = 'assets/img/social.jpg'

  - var pageHeaderTitle = 'Requests'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-sm-tab

    //begin content
    main.main.requests
      .container.container-inn.container-inn--sm
        .requests__day.requests-day
          .requests-day__separator
            span 15 May 2020
          include ../elements/person-card-03
        .requests__day.requests-day
          .requests-day__separator
            span 14 May 2020
          include ../elements/person-card-04
          include ../elements/person-card-05
          include ../elements/person-card-06
          include ../elements/person-card-07
    //end content

    include ../elements/footer-menu
    include ../sections/footer
    include ../sections/scripts
