extends ../_template

block variables
  - var title       = 'Reset Password | Tempeak'
  - var description = 'Reset Password | Tempeak'
  - var ogtitle     = 'Reset Password | Tempeak'
  - var ogimage     = 'assets/img/social.jpg'

  - var pageHeaderTitle = 'Reset Password'

block content
  .main-wrap.no-js
    include ../sections/header
    include ../sections/page-header-arr-center

    //begin content
    main.main.log-in
      .container.container-inn.container-inn--sm
        form.log-in__form.log-in-form
          //begin log-in-form__body
          .log-in-form__body
            //begin form-group
            .form-group.form-group--input
              .form-group__icon
                svg.svg-email
                  use(xlink:href="assets/img/sprite.svg#email")
              input.form-control(type='email' placeholder='Email Address')
            //end form-group

            button.button.button--highlight.button--lg Send Password
          //end log-in-form__body
    //end content

    include ../sections/footer
    include ../sections/scripts
