extends ../_template

block variables
  - var title       = 'Search Results | Tempeak'
  - var description = 'Search Results | Tempeak'
  - var ogtitle     = 'Search Results | Tempeak'
  - var ogimage     = 'assets/img/social.jpg'

  - var pageHeaderTitle = 'Search Results'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-arr

    //begin content
    main.main.results
      .container.container-inn.container-inn--sm
        include ../elements/person-card-02
    //end content
    include ../sections/footer-lg
    include ../sections/scripts
