extends ../_template

block variables
  - var title       = 'Search Contractor | Tempeak'
  - var description = 'Search Contractor | Tempeak'
  - var ogtitle     = 'Search Contractor | Tempeak'
  - var ogimage     = 'assets/img/social.jpg'

  - var pageHeaderTitle = 'Search Contractor'

block content
  .main-wrap
    include ../sections/header-profile
    include ../sections/page-header-sm-center

    //begin content
    main.main.log-in
      .container.container-inn.container-inn--sm
        form.log-in__form.log-in-form
          //begin log-in-form__body
          .log-in-form__body
            //begin form-group
            .form-group.form-group--select
              .form-group__icon
                svg.svg-hospital
                  use(xlink:href="assets/img/sprite.svg#hospital")
              select.form-control.selectpicker
                option(value='') Clinical Staff
                option(value='') Clinical Staff 1
                option(value='') Clinical Staff 2
                option(value='') Clinical Staff 3
            //end form-group

            //begin form-group
            .form-group.form-group--select
              .form-group__icon
                svg.svg-hospital
                  use(xlink:href="assets/img/sprite.svg#hospital")
              select.form-control.selectpicker
                option(value='') Speciality
                option(value='') Speciality 1
                option(value='') Speciality 2
                option(value='') Speciality 3
            //end form-group

            //begin form-group
            .form-group.form-group--select
              .form-group__icon
                svg.svg-marker
                  use(xlink:href="assets/img/sprite.svg#marker")
              select.form-control.selectpicker
                option(value='') State
                option(value='') State 1
                option(value='') State 2
                option(value='') State 3
            //end form-group

            //begin form-group
            .form-group.form-group--input
              .form-group__icon
                svg.svg-calendar
                  use(xlink:href="assets/img/sprite.svg#calendar-2")
              input.form-control(type='text' placeholder='Date')
            //end form-group

            //begin form-group
            .form-group.form-group--input
              .form-group__icon
                svg.svg-clock
                  use(xlink:href="assets/img/sprite.svg#clock")
              input.form-control(type='text' placeholder='Time')
            //end form-group

            button.button.button--highlight.button--lg Search
          //end log-in-form__body
    //end content

    include ../sections/footer
    include ../sections/scripts
