.sign-up-lg {
  padding-top: 16px;
  padding-bottom: 78px;

  @include max(980) {
    padding-bottom: 20px;
  }
}

.sign-up-lg-form {
  margin: 0 auto;
  padding: 32px;
  border: 1px solid #efefef;
  border-radius: $block-radius;
  background-color: #fbfbfb;

  @include max(575) {
    padding: 0;
    border: none;
    background-color: #fff;
  }
}

.sign-up-lg-form__body {
  display: flex;
  justify-content: space-between;
  max-width: 744px;
  margin: 0 auto;

  @include max(767) {
    flex-direction: column;
  }
  @include max(575) {
    max-width: 100%;
  }
}

.sign-up-lg-form__left,
.sign-up-lg-form__right {
  width: calc(50% - 12px);

  @include max(767) {
    width: 100%;
  }
  .button {
    font-size: 20px;
    height: 48px;
  }
}

.sign-up-lg-form__logo {
  display: flex;
  align-items: center;
  min-height: 112px;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 200px;
  background-color: #f8f8f8;
}

.sign-up-lg-form__logo-img {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #f1f1f1;
  img {
    display: block;
    max-width: calc(100% - 10px);
    margin: 0 auto;
  }
}

.sign-up-lg-form__logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px 20px;
  span {
    font-size: 24px;
    font-weight: 400;
    color: #000;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 93px;

    object-fit: contain;
    object-position: center;
  }
}

.sign-up-lg-form__title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.slider-range__list {
  margin: 0 0 32px 0;
  padding: 0;
}

.slider-range {
  position: relative;
  margin-bottom: 16px;
  padding-top: 5px;
  list-style: none;
  &.disabled {
    .slider-range__input-wrap {
      opacity: .6;
    }
    .slider-range__scale {
      pointer-events: none;
      opacity: .6;
    }

    .ui-slider-horizontal .ui-slider-range,
    .ui-state-default,
    .ui-widget-content .ui-state-default {
      background-color: #d4d4d4;
    }
  }
  .log-in-form__checkbox--check {
    padding-top: 10px;
    span {
      font-size: 16px;
      font-weight: 400;
      padding-left: 30px;
    }
  }
}

.slider-range__input-wrap {
  position: absolute;
  top: 7px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  pointer-events: none;
  span {
    display: block;
    width: 5px;
    height: 1px;
    background-color: #000;
  }
}

.slider-range__input {
  font-size: 18px;
  font-weight: 400;
  width: 37px;
  padding: 3px 0;
  text-align: center;
  color: #000;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid $link;
  border-left: none;
  box-shadow: none;
  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    width: 37px;
    height: 2px;
    content: '';
    background-color: $link;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

//begin #RANGE STYLE
.slider-range {
  .ui-widget.ui-widget-content {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #d4d4d4;
  }
  .ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 4px;
    border: none;
    background-color: $link;
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: $link;
  }
}

//end #RANGE STYLE

.slider-range__scale {
  margin-top: 18px;
  span:nth-child(2) {
    transform: translateX(8px);
  }
}

.sign-up-lg-form__subscription {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  .log-in-form__checkbox {
    margin-bottom: 18px;
    span {
      font-size: 16px;
      font-weight: 400;
      display: flex;
    }
    i {
      font-style: normal;
      display: block;
      min-width: 92px;
    }
    strong {
      padding-right: 3px;
    }
  }
}

.sign-up-lg-form__trial {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  background-color: #fef8e4;
}

.sign-up-lg-form__trial-number {
  font-size: 26px;
  font-weight: 400;
  line-height: 23px;
  color: #ffbd06;
}

.sign-up-lg-form__trial-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  max-width: 50px;
  color: #040404;
}
