.sign-up-lg {
  padding-top: 16px;
  padding-bottom: 78px;

  @include max(980) {
    padding-bottom: 20px;
  }
}

.sign-up-lg-form {
  margin: 0 auto;
  padding: 32px;
  border: 1px solid #efefef;
  border-radius: $block-radius;
  background-color: #fbfbfb;

  @include max(575) {
    padding: 0;
    border: none;
    background-color: #fff;
  }
}

.sign-up-lg-form__body {
  display: flex;
  justify-content: space-between;
  max-width: 744px;
  margin: 0 auto;

  @include max(767) {
    flex-direction: column;
  }
  @include max(575) {
    max-width: 100%;
  }
}

.sign-up-lg-form__left,
.sign-up-lg-form__right {
  width: calc(50% - 12px);

  @include max(767) {
    width: 100%;
  }
  .button {
    font-size: 20px;
    height: 48px;
  }
}

.sign-up-lg-form__logo {
  display: flex;
  align-items: center;
  min-height: 112px;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 200px;
  background-color: #f8f8f8;
}

.sign-up-lg-form__logo-img {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #f1f1f1;
  img {
    display: block;
    max-width: calc(100% - 10px);
    margin: 0 auto;
  }
}

.sign-up-lg-form__logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px 20px;
  span {
    font-size: 24px;
    font-weight: 400;
    color: #000;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 93px;

    object-fit: contain;
    object-position: center;
  }
}

.sign-up-lg-form__title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

//begin #SUBSCRIPTION
.sign-up-lg-form__subscription {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-top: 10px;

  @include max(767) {
    margin-bottom: 0;
  }
  .log-in-form__checkbox {
    margin-bottom: 18px;
    span {
      font-size: 16px;
      font-weight: 400;
      display: flex;
    }
    i {
      font-style: normal;
      display: block;
      min-width: 92px;
    }
    strong {
      padding-right: 3px;
    }
  }
}

.sign-up-lg-form__trial {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  background-color: #fef8e4;
}

.sign-up-lg-form__trial-number {
  font-size: 26px;
  font-weight: 400;
  line-height: 23px;
  color: #ffbd06;
}

.sign-up-lg-form__trial-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  max-width: 50px;
  color: #040404;
}

//end #SUBSCRIPTION
